	<div id="footer">
		<div class="container">

		<div id="prev-next">
		{% if page.previous.url %}
		<a href="{{ page.previous.url }}">Previous Post</a>
		{% endif %}
		{% if page.previous.url and page.next.url %}
		/
		{% endif %}
		{% if page.next.url %}
		<a href="{{ page.next.url }}">Next Post</a>
		{% endif %}
		</div> <!--END OF PREV-NEXT-->

		<hr />

			<div class="one-third column">
				<h1 id="footer-title">Find Me!</h1>
					<ul>
						<li>Twitter: <a href="http://www.twitter.com/syeefkarim" target="_blank">@SyeefKarim</a></li>
						<li>Instagram: <a href="http://www.instagram.com/syeef" target="_blank">Syeef</a></li>
						<li>Github: <a href="http://www.github.com/syeef" target="_blank">Syeef</a></li>
						<li>E: <a href="mailto:syeefkarim@gmail.com" target="_blank">syeefkarim@gmail.com</a></li>
					</ul>
			</div>

			<div class="one-third column">
				<h1 id="footer-title">Recent Posts</h1>
					<ul>
						{% for post in site.posts limit: 3 %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
			</div>

			<div class="one-third column">
				<h1 id="footer-title">About</h1>
					<p>Hey, my name is Syeef Karim. For now and always trying
					to navigate through life. <a href="{{ site.url }}about">Read a little more...</a></p>
			</div>
		</div> <!--END OF CONTAINER-->
	</div> <!--END OF FOOTER-->


<!-- End Document
================================================== -->
</div>
<script type="text/javascript" src="{{ site.url }}/js/skrollr.js"></script>
<script type="text/javascript">
	skrollr.init({
		forceHeight: {{page.forceHeight}}
	});
</script>
</body>
</html>