{% include header.html %}

	<div class="container">
		<div class="sixteen columns">
			
			{% for post in site.posts limit: 100 %}

			<div id="article-wrapper">

				<div id="article-list-title-date">
					<h2 id="articles-title"><a href="{{ site.url }}{{ post.url }}">{{post.title}}</a></h2>
					<p id="articles-date">{{post.date | date: "%B %d, %Y"}}</p>
				</div>

				<div id="article-list-summary">
					<p>{{post.summary}}</p>
				</div>

			</div>

			<br class="clear">

			<div id="article-line">&nbsp</div>

			{% endfor %}
			
		</div>
	</div> <!--END OF CONTAINER-->
	
{% include footer.html %}