{% include header.html %}

        <div class="container">
                <div class="sixteen columns">

                        <div id="portfolio-wrapper">

                                <div id="portfolio-list-title">
                                        <h2 id="portfolio-title"><a href="http://dribbble.com/syeef">Dribbble over this</a></h2>
                                </div>

                        <!--        <div id="port-background"
                                style="background-image: url('{{page.image1}}'); background-repeat:no-repeat; width: 100%; height: 100%;">
                                </div> -->

                                <a href="http://dribbble.com/syeef"><img src="{{ site.url }}{{page.dribbble}}" width="100%" height="auto"></a>

                                <div id="portfolio-list-summary">
                                        <p>{{page.dribbblebio}}</p>
                                </div>

                        </div>

                        <br>
                        <div id="article-line">&nbsp</div>
                        <br>

                        <div id="portfolio-wrapper">

                                <div id="portfolio-list-title">
                                        <h2 id="portfolio-title"><a href="http://google.com">Capital One Android &amp iOS App</a></h2>
                                </div>

                        <!--        <div id="port-background"
                                style="background-image: url('{{page.image1}}'); background-repeat:no-repeat; width: 100%; height: 100%;">
                                </div> -->

                                <a href="http://google.com"><img src="{{ site.url }}{{page.image3}}" width="100%" height="auto"></a>

                                <div id="portfolio-list-summary">
                                        <p>{{page.bio3}}</p>
                                </div>

                        </div>

                        <br>
                        <div id="article-line">&nbsp</div>
                        <br>

                        <div id="portfolio-wrapper">

                                <div id="portfolio-list-title">
                                        <h2 id="portfolio-title"><a href="http://studentdev.io">StudentDev</a></h2>
                                </div>

                        <!--        <div id="port-background"
                                style="background-image: url('{{page.image1}}'); background-repeat:no-repeat; width: 100%; height: 100%;">
                                </div> -->

                                <a href="http://studentdev.io"><img src="{{ site.url }}{{page.image2}}" width="100%" height="auto"></a>

                                <div id="portfolio-list-summary">
                                        <p>{{page.bio2}}</p>
                                </div>

                        </div>

                        <br>
                        <div id="article-line">&nbsp</div>
                        <br>

                        <div id="portfolio-wrapper">

                                <div id="portfolio-list-title">
                                        <h2 id="portfolio-title"><a href="http://getmeabus.com">Get Me a Bus</a></h2>
                                </div>

                        <!--        <div id="port-background"
                                style="background-image: url('{{page.image1}}'); background-repeat:no-repeat; width: 100%; height: 100%;">
                                </div> -->

                                <a href="http://getmeabus.com"><img src="{{ site.url }}{{page.image1}}" width="100%" height="auto"></a>

                                <div id="portfolio-list-summary">
                                        <p>{{page.bio1}}</p>
                                </div>

                        </div>

<!--                         <div id="portfolio-wrapper">

                                <div id="portfolio-list-title">
                                        <h2 id="portfolio-title">{{page.title2}}</h2>
                                </div>

                               <div id="port-background"
                                style="background-image: url('{{page.image2}}'); background-repeat:no-repeat; width: 100%; height: 100%;">
                                </div>

                                <img src="{{ site.url }}{{page.image1}}" width="100%" height="auto">

                                <div id="portfolio-list-summary">
                                        <p>{{page.bio2}}</p>
                                </div>

                        </div>

                        <div id="article-line">&nbsp</div> -->

                </div>
        </div> <!--END OF CONTAINER-->

{% include footer.html %}